/* main css file for the site */

ul.recent {
    display: none;
}

body > nav.nav-wrapper {
    background-color: grey;
    margin-bottom: 2em;
}

body.front {
    height: 100vh;
    display: grid;
  }

.weatherBtn {
    margin-right: 10%;
}

h1.locationTitle {
    font-size: 2em;
    margin-top: 1em;
    text-align: center;
}

h2.pageDescript {
    font-size: 1.5em;
    text-align: center;
}

h1.frontTitle {
    font-size: 3em;
    text-align: center;
}

.eventBtn {
    margin-left: 10%;
}

body {
    background-color: #E8F2E9;
}

div.front.container {
    margin: auto;
    background-color: white;
    padding: 1em;
    border-radius: .5em;
  }

div.container {
    background-color: white;
    padding: 1em;
    border-radius: .75em;
    margin-bottom: 4em; 
    text-align: justify;
    text-justify: inter-word;
}

.weatherHourly {
    background-color: #F4F3F5;
}

i {
    min-width: 1.5em;
}